<h1>Tweets</h1>


<div class="row">
  <div>
    <%= rel_next_prev_link_tags @tweets %>
    <%= link_to_prev_page @tweets, 'Prev Page' %>
    <%= link_to_next_page @tweets, 'Next Page' %>
  </div>
</div>



<table>
  <thead>
    <tr>
      <th>Content</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tweets.each do |tweet| %>
      <tr>
        <td><%= tweet.content %></td>
        <td><img src="<%= tweet.user.img %>" class="image" alt=""></td>
        <td> 
        <% if user_signed_in? %>
             <%= render 'form', tweet: @tweet %>

            <% if @tweet.liked?(current_user) %>
              <%= button_to 'Like', like_path(tweet), method: 'put', disabled: true %>
              <%= tweet.likes.count %>
            <% else %>
              <%= button_to 'Like', like_path(tweet), method: 'put' %>
              <%= tweet.likes.count %>

            <% end %>
            </td>
            <td><%# tweet.retweet.map(:id) %></td>
            <%= button_to 'Retweet', tweets_path %>
            <td><%= link_to 'Show', tweet %></td>
            <td><%= link_to 'Edit', edit_tweet_path(tweet) %></td>
            <td><%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>

        </tr>
    <% end %>
  </tbody>
</table>
<br>
      <!--  <%# if user_signed_in? %> -->
      <!--    <%# if @tweet.liked?(current_user) %> -->
      <!--      <%# button_to 'Like', like_path(@tweet), method: 'put', disabled: true %> -->
      <!--    <%# else %> -->
      <!--      <%# button_to 'Like', like_path(@tweet), method: 'put' %> -->
      <!--    <%# end %> -->
      <!--  <%# end %> -->

<br>

<%= link_to 'New Tweet', new_tweet_path %>





<div class="row">
  <div>
    <%= rel_next_prev_link_tags @tweets %>
    <%= link_to_prev_page @tweets, 'Prev Page' %>
    <%= link_to_next_page @tweets, 'Next Page' %>
  </div>
</div>
