<!-- <p id="notice"><%= notice %></p> -->

<%= simple_form_for :search, url: root_path, method: "GET", html: { class: 'form-inline' } do |f| %>
  <%= f.input :content, input_html: {value: ""} %>   
  <%= f.submit "Search", class: "btn btn-primary" %>
<% end %>

<section>
  <div class="container">
    <%= render 'feed' %>

  </div>
</section>




